html {
	font-family: 'Arial Black', sans-serif;
	min-width: 1000px; /*MIN Width of the Page*/
	max-width: 1300px; /*MAX Width of the Page*/
	margin-left: auto;
	margin-right: auto;}
head, body {
	margin-top: 10px;
	margin-bottom: 20px;}
p {
	text-align: center;
	margin: 12px;
	font-size: 1.1em;}
.content {
	text-align: left;}
body {
	font-size: .8em;
	margin: 80px;
	margin-top: 40px;}
main {
	margin-top: 0px;
	padding: 20px 25px 1px 25px;
	border-radius: 0px 10px 0px 0px;}
div {
	background-color: WHITE;
	padding: 15px;
	text-align: center;
	border-radius: 5px;}
img {
	margin: auto;
	width: 70%;}
.shadow {
	box-shadow: 7px 7px 10px;
	margin: 10px;}
h1, h2, h3, h4, h5, h6, a.button {
	text-align: center;
	margin: 20px auto 20px auto;
	display: block;}
h2 {

	font-size: 2.5em;
	color: #35608fff;
	text-shadow: 2px 2px 2px;
	-webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: WHITE;  }
h3 {
	margin: 10px;
	color: RED;}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: BLACK;
	padding: 10px 40px 10px 40px;
	width: max-content;}
.title:after {
	content: "DEPRESSION";}
.subtitle {
	margin-top: -22px;}
.subtitle:after {
	content: "''Knowledge is power''";}
.maintitle {
	color: WHITE;}
header nav ul {
	display: flex;
	width: 45px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	border-radius: 10px 10px 0px 0px;}
	header nav li:first-child {
		margin-left: 50px;}
	header nav li {
		list-style-type: none;
		background-color: WHITE;
		padding: 12px;
		padding-right: 6px;
		padding-left: 6px;
		margin-bottom: -17px;
		margin-left: 10px; /*Space between navigation links*/
		font-weight: bold;
		box-shadow: 5px 5px 5px;
		font-size: 1em;
		border: 1px;
		border-style: solid;
		border-width: 2px;}
		nav li a:link {
			color: BLACK;
			text-decoration: none;}
		nav li a:visited {
			color: BLACK;}
		nav li a:hover {
			color: BLUE;}
		nav li a:active {
			color: RED;}
		nav li a.activepage {
			background-color: rgb(120,120,120);
			padding: 10px;
			padding-right: 10px;
			padding-left: 10px;
			color: WHITE;}
.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;}
.grid-item, .mini-grid-item {
	border: 2px solid rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: -1px;
	text-align: center;
	width: auto;}
.mini-grid-item {
	background-color: WHITE;
	width: 150px;
	padding: 0px;
	font-size: 1.7em;
	z-index: 1;}

ol {
	text-align: left;}
ol li {
	margin: 5px;}
ul {
	padding-left: 2px;
	text-align: left;}
header nav ul, main {
	background-color: #35608fff;} /*MAIN BODY COLOR*/

/*FOOTER INFORMATION*/
footer {
	text-align: center;
	padding: 5px;
	border-radius: 0px 0px 10px 10px;
	background-color: BLACK;
	color: WHITE;
	border-color: rgba(150,129,64,.99);}
footer nav ul {
	margin: 10px;}
footer nav li {
	font-weight: bold;
	text-decoration: underline;
	display: inline;
	margin: 10px;
	list-style-type: none;}
.footerp {
	margin: 2px;}
footer a {
	color: GREY;}
